.pagination-nav {
  text-align: center;
}

.pagination {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.page-item {
  display: inline-block;
}

.page-link {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  background: #13a086;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  cursor: pointer;
}

.page-link:hover {
  background: rgb(221, 221, 221);
}

.page-input {
  width: 50px;
  height: 30px;
  padding: 0 5px;
}

.tr-table-body button {
  padding: 5px 10px;
  background: rgb(19, 160, 134);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.tr-table-body button:hover {
  background-color: rgb(69, 185, 164);
}

.additional-row th,
.additional-row td {
  background: rgb(224, 255, 224);
}

.additional-row-jobs th,
.additional-row-jobs td {
  background: rgb(239, 239, 239);
}
